    <header>
        <div class="header-top">
            <div class="logo">
                <a href="https://superior.edu.pk/"><img src="Superior-University-Logo.svg" alt="Superior University Logo"></a>
            </div>
            <button class="toggle-btn" id="menu-toggle">&#9776;</button>
            <a href="#" class="apply-btn">Apply Now</a>
            <div class="portals desktop-only">
                <label for="portals-label" class="portal-label">Portals</label>
                <a href="https://erp.superior.edu.pk/web/login" class="portal-btn">Student &#8599;</a>
                <a href="https://erp.superior.edu.pk/web/login" class="portal-btn">Faculty &#8599;</a>
                <a href="https://alumniportal.superior.edu.pk/login" class="portal-btn">Alumni &#8599;</a>
                <a href="https://erp.superior.edu.pk/web/signup" class="portal-btn">Admissions &#8599;</a>
            </div>
            <div class="search-box desktop-only">
                <input type="text" placeholder="Search...">
                <button class="search-btn"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav class="main-nav desktop-only">
            <ul>
                <li>
                    About Us <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li><a href="https://staging.superior.edu.pk/about-us/">About Us</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Our History</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Accreditation</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Reputation and Impact</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Strategy to 2028</a></li>
                        <li>Campuses <span class="arrow">&#8594;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">All Campuses</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Main Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">RAK Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">City Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Gold Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Faisalabad Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Sargodha Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Rahim Yar Khan Campus</a></li>
                            </ul>
                        </li>
                        <li>Our People <span class="arrow">&#8594;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">Chairman Board Of Governance</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Rector</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Pro Rector</a></li>
                            </ul>
                        </li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Our Stories</a></li>
                        <li>Partners <span class="arrow">&#8594;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">Corporate Partners</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Academic Partners</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">International Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Become a Partner</a></li>
                            </ul>
                        </li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Annual Reports</a></li>
                    </ul>
                </li>
                <li>
                    Academics <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li>Programs</li>
                        <li>
                            Departments <span class="arrow">&#9656;</span>
                            <ul class="sub-menu">
                                <li>Science</li>
                                <li>Arts</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Research <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li>Publications</li>
                        <li>Projects</li>
                    </ul>
                </li>
                <li>Internationalization</li>
                <li>Alumni</li>
                <li>In Focus</li>
                <li>Student Hub</li>
            </ul>
        </nav>
        <nav class="mobile-nav" id="mobile-nav">
            <button class="close-btn" id="menu-close">&times;</button>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button class="search-btn"><i class="fas fa-search"></i></button>
            </div>
            <div class="portals">
                <a href="https://erp.superior.edu.pk/web/login" class="portal-btn"><i class="fas fa-book"></i> Student </a>
                <a href="https://erp.superior.edu.pk/web/login" class="portal-btn"><i class="fab fa-dashcube"></i> Faculty</a>
                <a href="https://alumniportal.superior.edu.pk/login" class="portal-btn"><i class="fas fa-user-graduate"></i> Alumni</a>
            </div>
            <ul class="main-nav">
                <!-- Your existing nav items here -->
                <li>
                    About Us <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li><a href="https://staging.superior.edu.pk/about-us/">About Us</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Our History</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Accreditation</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Reputation and Impact</a></li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Strategy to 2028</a></li>
                        <li>Campuses <span class="arrow">&#8595;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">All Campuses</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Main Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">RAK Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">City Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Gold Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Faisalabad Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Sargodha Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Rahim Yar Khan Campus</a></li>
                            </ul>
                        </li>
                        <li>Our People <span class="arrow">&#8595;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">Chairman Board Of Governance</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Rector</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Pro Rector</a></li>
                            </ul>
                        </li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Our Stories</a></li>
                        <li>Partners <span class="arrow">&#8594;</span>
                            <ul class="sub-menu">
                                <li><a href="https://staging.superior.edu.pk/about-us/">Corporate Partners</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Academic Partners</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">International Campus</a></li>
                                <li><a href="https://staging.superior.edu.pk/about-us/">Become a Partner</a></li>
                            </ul>
                        </li>
                        <li><a href="https://staging.superior.edu.pk/about-us/">Annual Reports</a></li>
                    </ul>
                </li>
                <li>
                    Academics <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li>Programs</li>
                        <li>
                            Departments <span class="arrow">&#9656;</span>
                            <ul class="sub-menu">
                                <li>Science</li>
                                <li>Arts</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Research <span class="arrow">&#8595;</span>
                    <ul class="sub-menu">
                        <li>Publications</li>
                        <li>Projects</li>
                    </ul>
                </li>
                <li>Internationalization</li>
                <li>Alumni</li>
                <li>In Focus</li>
                <li>Student Hub</li>
            </ul>
        </nav>
    </header>

<div class="section-container">
    <div class="left-section">

    <form action="https://lms.superior.edu.pk/login/index.php" method="post" id="login"  class="login-form">
                <div class="form-group">
                    <h1>{{#str}}login{{/str}}</h1>
                     <label for="username">UTORid / JOINid</label>

                    <input type="text" id="username" name="username">
                    <label for="password">{{#str}}password{{/str}}</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">{{#str}}login{{/str}}</button>
            </form>
        <div class="warnings">
            <div class="warning-card">
                <p><strong>Warning:</strong> Your password may not be sync'd. Visit our <a href="#">verify password</a> page.</p>
            </div>
            <div class="alert-card">
                <p><strong>Alert:</strong> Completely exit your web browser when you are finished.</p>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="tabs">
            <button class="tab-button active" onclick="openTab(event, 'protect')">Protect Your Account</button>
            <button class="tab-button" onclick="openTab(event, 'problems')">Login Problems</button>
            <button class="tab-button" onclick="openTab(event, 'logout')">How to Log Out</button>
            <button class="tab-button" onclick="openTab(event, 'help')">Finding Help</button>
        </div>
        <div class="tab-content">
            <div id="protect" class="tab-panel active">
                <ul>
                    <h3>Steps you should take to protect your account:</h3>
                    <li>Before you begin, make sure this page (URL) starts https://erp.superior.edu.pk/...</li>
                    <li>When using a public computer, close all windows and exit the browser.</li>
                    <li>Keep your password a secret at all times.</li>
                    <li>Add a recovery email and number in your ERP account so that you can easily reset your password in case you loose it.</li>
                    <li>Tip: Superior University will <strong>never</strong> ask for your password or other personal information by e-mail / WhatsApp or other communications channels.</li>
                </ul>
            </div>
            <div id="problems" class="tab-panel">
                <h3>Login problems</h3>
                <p>If you are facing problem in Login you should check your internet connection, make sure that it's working. Change your web browser and try to Login again.</p>
                <p>If you have forgotten your password, a new password must be chosen using a password reset procedure.</p>
                <h3>Password reset:</h3>
                <ul>
                    <li>To reset your password, visit password reset page and enter your email/ username which you use to login to your account.</li>
                    <li>Reset Password: https://erp.superior.edu.pk/web/reset_password</li>
                    <li>If you are still unable to reset your password, contact ERP team immediately at <a href="mailto:info@superior.edu.pk">info@superior.edu.pk</a></li>
                </ul>
            </div>
            <div id="password" class="tab-panel">
                <p>Forgotten password content...</p>
            </div>
            <div id="logout" class="tab-panel">
                <h3>Exit Your Browser</h3>
                <p>Superior University ERP portals store information in your web browser, using a feature called cookies. When you exit your browser, these cookies are cleared and you are logged out of portal and the services that use ERP for authentication.</p>
                <p><bold>Caution:</bold> Your browser may preserve cookies across browser sessions. The Chrome browser, in particular, now maintains cookies even after exiting. This enables you continue where you left off. While convenient, it conflicts with the intent of session cookies: exiting your browser should clear all of your session cookies ensuring no one can access your application privileges. If your browser maintains cookies across exit/restart, you need to ensure you have logged out of each application.</p>
                <h4>To exit your browser, look for the close, exit, quit, or "X" button.</h4>            </div>
            <div id="help" class="tab-panel">
                <div class="accordion">
                    <div class="accordion-item">
                        <button class="accordion-button" onclick="toggleAccordion(this)">Student Portal Helpline <i class="fas fa-plus"></i></button>
                        <div class="accordion-content">
                            <p>Contact details of focal person for Student Login issues.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" onclick="toggleAccordion(this)">Faculty/ Staff Portal Helpline <i class="fas fa-plus"></i></button>
                        <div class="accordion-content">
                            <p>Contact details of focal person for Faculty/Staff Login issues.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" onclick="toggleAccordion(this)">FIT Department <i class="fas fa-plus"></i></button>
                        <div class="accordion-content">
                            <p>Contact details of focal person for Internet/Device issues.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer>
        <div class="footer-container">
            <div class="connect-with-us">
                <h2>Connect with us</h2>
                <div class="social-icons">
                    <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="social-icon snapchat"><i class="fab fa-snapchat"></i></a>
                    <a href="#" class="social-icon tiktok"><i class="fab fa-tiktok"></i></a>
                    <a href="#" class="social-icon times"><i class="fas fa-times"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h2>Information About</h2>
                    <ul>
                        <li><a href="#">Superior University</a></li>
                        <li><a href="#">Soar to Roar</a></li>
                        <li><a href="#">Our Research Ecosystem</a></li>
                        <li><a href="#">3U1M Program</a></li>
                        <li><a href="#">Fee Structure</a></li>
                        <li><a href="#">Scholarships</a></li>
                        <li><a href="#">Libraries</a></li>
                        <li><a href="#">Sports and Fitness</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h2>Information For</h2>
                    <ul>
                        <li><a href="#">Prospective Undergraduates</a></li>
                        <li><a href="#">Prospective Postgraduates</a></li>
                        <li><a href="#">Alumni</a></li>
                        <li><a href="#">International Students</a></li>
                        <li><a href="#">Exchange Students</a></li>
                        <li><a href="#">International Partnerships</a></li>
                        <li><a href="#">Academic Partnerships</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Get in Touch</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Convocation 2024</a></li>
                        <li><a href="#">Superior Employability Center</a></li>
                        <li><a href="#">Our Campuses</a></li>
                        <li><a href="#">HR at Superior</a></li>
                        <li><a href="#">The Campus Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <h4>©2024. Superior University. All Rights Reserved.</h4>
            </div>
        </div>
    </footer>